<section>
  <div class="container my-5">
    <h1 class="text-center display-4 mb-4">Welcome to Marvel App</h1>
    <hr>
    <div class="row">
      <div class="col-12 col-md-4">
        <a routerLink="/characters" routerLinkActive="page-active">
          <h3>Characters</h3>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a routerLink="/comics" routerLinkActive="page-active">
          <h3>Comics</h3>
        </a>
      </div>
      <div class="col-12 col-md-4">
        <a routerLink="/stories" routerLinkActive="page-active">
          <h3>Stories</h3>
        </a>
      </div>
    </div>
  </div>
</section>
